/* Cart Items and total section */
.cart-items {
	list-style: none;
	margin: 0;
	padding: 0 5%;
	height: 65vh;
	overflow-y: auto;
	overflow-x: hidden;
}

.no-items {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 5%;
	height: 77vh;
	text-align: center;
	font-size: 1.5rem;
}

.total {
	display: flex;
	justify-content: space-between;
	align-items: center;
  font-family: 'Montserrat';
	font-size: 1rem;
	padding: 0 30px;
	height: 12vh;
}

.cart-items::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.cart-items::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.cart-items::-webkit-scrollbar-thumb
{
	background-color: #1B2039;
}

/* Order submission section */
.actions {
	display: flex;
	justify-content: space-between;
	padding: 0 5%;
}

.actions button {
	font: inherit;
	cursor: pointer;
	background-color: transparent;
	border: 1px solid #DEB200;
	padding: 0.5rem 2rem;
	border-radius: 2px;
}

.actions button:hover,
.actions button:active {
	background-color: #f5cb21;
	border-color: #f5cb21;
	color: white;
}

.actions .button--alt {
	color: #f5cb21;
}

.actions .button {
	background-color: #DEB200;
	color: white;
}

/* Success message */
.success {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.7em;
}