.nav-container {
  padding: 1.5% 1.5%;
  margin: 0;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  background-color: #1B2039;
  min-width: 15%;
}

.list-item {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  gap: 10%;
}

.nav-container li {
  list-style: none;
}

.nav-container a {
  text-decoration: none;
  color: white;
  font-family: 'Montserrat';
  height: 1.4em;
}

.nav-container a:hover {
  color: #DEB200;
}

.active {
  padding-bottom: 2px;
  border-bottom: 2px solid #DEB200;
}