.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 3%;
  padding-bottom: 1%;
}

/* Details section */
.details-container {
  width: 100%;
  background-color: #ededed;
  padding-bottom: 5%;
}

.details-container h2 {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 1.8rem;
  text-transform: capitalize;
  margin: 2% 0;
}

.details-container span:hover {
  cursor: pointer;
  color: #DEB200;
}

.details-inner-container {
  padding: 0 7.5%;
}

.product-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.product-detail img {
  height: 55vh;
}

/* Other products section */
.other-products-container {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 0 auto;
}

.other-products-container h2 {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 1.8rem;
  text-transform: capitalize;
}

.carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.other-products-container button {
  background-color: #1B2039;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1em;
  height: 2em;
  width: 110px;
  align-self: center;
  padding: 12px 10px;
  margin-top: 3%;
  border: 0;
}

.other-products-container button:hover {
  cursor: pointer;
  color: #DEB200;
}

.other-products-container a {
  text-decoration: none;
  color: inherit;
  font-family: 'Montserrat';
}

.play {
  border-top: 0.5em solid #1B2039;
  border-bottom: 0.5em solid #1B2039;
  border-left: 1em solid #DEB200;
  height: 0px;
}

/* For phone */
@media screen and (max-width: 1200px) {
  .product-detail {
    flex-direction: column;
    gap: 2em;
  }

  .product-detail img {
    height: 100%;
    width: 100%;
    margin-top: 1.5em;
  }
}

@media screen and (max-width: 1200px) {
  .other-products-container {
    gap: 1em;
  }

  .other-products-container h2 {
    text-align: center;
  }

  .main-heading {
    text-align: center;
    padding-top: 0.8em;
  }
}