.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 3% 0;
}

.details-container {
  width: 100%;
  background-color: #ededed;
  padding-bottom: 5%;
}

.details-container h2 {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 1.8rem;
  text-transform: capitalize;
  margin: 2% 0;
}

.details-inner-container {
  padding: 0 7.5%;
}

.product-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.product-detail img {
  width: 50%;
}