.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-container {
  display: flex;
  flex-direction: column;
  box-shadow: 5px 10px 10px 2px rgba(0, 0, 0, 0.05);
}

.item-container img {
  object-fit: cover;
}

.item-container h3 {
  margin: 0;
  font-weight: 400;
}

.item-container p {
  font-size: 0.7rem;
  color: #7e7e7e;
}

.item-inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1.5em;
}

.item-inner-container .item-text {
  display: flex;
  flex-direction: column;
  row-gap: 0.3em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.play {
  border-top: 0.8em solid white;
  border-bottom: 0.8em solid white;
  border-left: 1.6em solid #DEB200;
  height: 0px;
}

.play:hover {
  transform: scale(1.1);
  transition: all 0.2s ease;
  cursor: pointer;
}

.slide-left {
  transform: translateX(-200%);
  opacity: 0;
  transition: all 0.3s linear;
}

.slide-right {
  transform: translateX(400%);
  opacity: 0;
  transition: all 0.3s linear;
}

.icon:hover {
  cursor: pointer;
  transform: scale(1.2);
}

@media screen and (max-width: 1200px) {
  .item-text h3 {
    font-size: 1rem;
  }

  .play {
    border-top: 0.6em solid white;
    border-bottom: 0.6em solid white;
    border-left: 1.2em solid #DEB200;
    height: 0px;
  }
}

@media screen and (max-width: 800px) {
  .item-text h3 {
    font-size: 0.9rem;
    max-width: 8.5em;
    overflow: hidden;
  }

  .play {
    border-top: 0.4em solid white;
    border-bottom: 0.4em solid white;
    border-left: 0.8em solid #DEB200;
    height: 0px;
  }

  .item-inner-container {
    flex-direction: column;
    gap: 1em;
  }
}

