.input {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.5em;
}

.input label {
	font-size: 0.8rem;
	color: #7e7e7e;
}

.input input {
	width: 3rem;
	border-radius: 2px;
	border: 1px solid #ccc;
	font-family: 'Montserrat';
	font-size: 100%;
	color: #7e7e7e;
	padding-left: 0.5rem;
}

.input input:focus,
.input input:active {
	outline: none;
	border: 1.5px solid #DEB200;
}
